  body{background: cornsilk;}
h1,h2{font-family: 'Lobster', cursive;
color: brown;
text-align: center;}

.btn{
  text-align: center;
}

@media screen and (max-width:1028px) {
  h1{
    font-size: 85px;
  }
  h2{
    font-size: 66px;
  }
  .btn{
    font-size: 50px;
  }
}